<h1>Search</h1>

<p>Search for a tutor here:

<%= form_tag(search_path(:id), :method => "get") do %>
	  <%= label_tag(:class, "Class:") %>
	  <%= text_field_tag(:class) %>
	  <%= label_tag(:university, "University:") %>
	  <%= text_field_tag(:university) %><br>
	  <%= label_tag(:grade, "Grade:") %>
	  <%= select_tag(:grade, "<option>A</option><option>B</option><option>C</option>".html_safe) %><br>
	  <%= submit_tag("Search") %>
<% end %>