<%= form_for(@course) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<h1>Add New Course </h1>
  <div class="field">
    <%= f.text_field :courseName, placeholder: "Add New Course..." %>
  </div>
<h1>Select The Grade You Got </h1>
  <div class="field">
    <%= f.select :grade, [['A','A'],['B','B'],['C','C'],['D','D'],['F','F']] %>
  </div>
  <%= f.submit "Post Course Info", class: "btn btn-large btn-primary" %>
</div>
  <%= f.submit "Upload Verification of Grades", class: "btn btn-large btn-primary" %>
<% end %>


